:root {
  --primary-color: #30364F;
  --secondary-color: #ACBAC4;
  --third-color: #E1D9BC;
  --fourth-color: #F0F0DB;
  --fifth-color: #020617;
}

html, body {
  background-color: #020617 !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}